
/*-----------------------*/
/***** GLOBAL STYLES *****/
/*-----------------------*/
.container {
    max-width: 1080px;
}


.sectionTitle { 
    font-weight: 900; 
    font-size: 40px;
    /* padding-left: 15px;
    padding-right: 15px; */
    /* Vertical spacing */
    padding-top: 70px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
/* adjusting space for top of My Process Section sm devices*/
#myProcess {
    /* padding-top: 20%; */
}

.showcaseQuote { width: 100%;} 
.showcaseText { padding-top: 70px;}
p { font-family: 'Lato', sans-serif; font-weight: 300; color: #757575; max-width: 430px;}
h1 {font-weight: 600; font-size: 48px;}  

h1, h2, h3 {font-family: 'Barlow Condensed', sans-serif;}
html, body {overflow-x: hidden;}
h2 {font-size: 36px;}
#connect p {font-weight: 400; color:#212529;}

.rowWidth {    width: 100%;
    max-width: 1080px;}

/*----------------------------*/
/* Enable scroll function */
html {scroll-behavior: smooth;}  

/* General Button Styling */
.btn-primary{
    background-color: #287094 !important;
    border-color: #287094 !important;
    color: #F6F6F6 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #000000 !important;
    background-color: #F6F6F6 !important;
    background-color: #F6F6F6;
    border-color: #287094  !important; 
}

.btn {border-radius: 0px !important; }

/* Portfolio section buttons */
.portfolioButton {
    background-color: #F6F6F6 !important;
    border-color: #F6F6F6 !important;
    color: #023246 !important;
}
.portfolioButton:hover, .portfolioButton:focus, .portfolioButton:active, .portfolioButton.active {
    color: #F6F6F6 !important;
    background-color: #023246 !important;
    border-color: #023246  !important; 
}


/*-----------------------*/
/***** HERO SECTION  *****/
/*-----------------------*/
/* Buttons - overriding the button styles to fit my theme */
/*This is modifying the btn-primary colors */

.jumbotron {
    padding-top: 4rem !important;
    margin-top: 75px;
    margin-bottom: 0 !important;
    background-color: #F6F6F6;}

/* Text - hero section styling */
#welcome {font-weight: 100;}
#heroTitle {font-family: 'Lato', sans-serif; font-weight: 600;}
#heroSubtitle { 
    font-weight: 100;
    color: #287094;
} 

.heroBlock {
    max-width: 100%;
    height: 60%;
  
}
.heroImageBlock {
    display: inline-block;
    background-color: #f6f6f6;
    /* padding-top: 4%;
    padding-bottom: 2%; */
    
}
#heroImage {display:inline-block; width: 60%;}

/*----------------------------*/
/***** MY PROCESS SECTION *****/
/*----------------------------*/
.processSection {    
    padding-left: 35px !important;
    padding-right: 35px !important;
    max-width: 1080px;
}

/* illustrations - sizing illustrations so they can tile into a 2x2 for all screens */
.phase {
    max-width: 270px;
}

/* styling text in my process breakdown */
/* #e9ecef */
.phaseTitle {font-weight: 500; color: #023246; font-size: 16px;}
.phaseText {color: #023246; font-size: 14px;}

/* Alignment of of the process section blocks */
.processLeft {
    justify-content: center;
    
}

/* sizing process illustrations */
.phaseImage {max-width: 94px;}

/* set background color for Team work Text, right */
.processRight {
    background-color: none;
    padding-left: 8%;
}

.highlightBlock {
    width: 100%;
    width: 62px;
}
.teamworkText {
    width: 230px;
    max-width: 230px;
    }
/*---------------------------*/
/***** PORTFOLIO SECTION *****/
/*---------------------------*/

.processBackground {
    padding-left: 20px !important;
    padding-right: 20px !important;
    max-width: 1080px;
}

.portfolioBackground {
    background-color: #287094;
}
/* subtitle - style bar for Portfolio subtitle */
#bar {
    display: inline-block;
    background-color: #C4C4C4;
    width: 8px;
    height: 4rem;
    margin-left: 4px;
}

/* Portfolio section title color */
.portfolioBackground .sectionTitle {
    color: #F6F6F6;
}
/* style portfolio subtitle Block and text within in */
.portfolioSubtitleBlock {
     /* Vertical Spacing  */
    margin-bottom: 10px;
}
.portfolioSubtitleText {
    display: inline-block;
    font-weight: 300; 
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    width: 90%;
    color: #EEEEEE;
}

.projectSubtitle { color: #333333;}


/* set cover image size */
.cover img { max-width: 100%;}

/* breathing room for title and bottom of portfolio covers*/
.projectChoiceBlock {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* making the covers pop off the page with a drop shadow */
.cover img{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 64px 30px -30px rgba(2, 50, 70, 0.8);

}

/* styling portfolio title & subtitle text */
.projectTitle {
    font-weight: 500;
    font-size: 16px;
    color: #EEEEEE;
}
.projectSubtitle {
    font-weight: 300;
    font-size: 12px;
    color: #EEEEEE;
}


/*----------------------------*/
/***** TOOLS SECTION *****/
/*----------------------------*/
#tools1 {max-width: 100%; 
    /* padding-left: 9.5% */
}
#tools2 {max-width: 100%; 
    /* padding-left: 9.5% */
}
.toolsText {
    display: inline-block;
    color: #287094;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}
/* Icon color change - change color to black and white */
.toolIcon {filter: grayscale(100%); padding: 2px;}
.toolIconblock {
    display: inline-block; 
    font-size: 12px; 
    width: 20%;
}
.toolsSection {
    margin-bottom: 70px;
    text-align: center;
}

/* ------------      Animation       ------------ */
.toolIcon:hover {filter: grayscale(0%);}

/*----------------------------*/
/***** QUOTE SECTION      *****/
/*----------------------------*/
.quoteBlock { 
  /* color: #F6F6F6; */
  padding-top: 20px;
  padding-bottom: 20px;
  /* width: 30%; */
}
.quoteSection {
    height:40%;
    background: url("../images/about-background.jpg") no-repeat center center fixed;
    background-size:cover;
    z-index: 0;
    text-align: center;
}

/*----------------------------*/
/***** ABOUT ME SECTION   *****/
/*----------------------------*/

.aboutSection {
    /* position: relative; */
    /* z-index: 0; */
    padding-left: 20px !important;
    padding-right: 20px !important;
    max-width: 1080px;
}
/* .aboutSection2 {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1080px;} */
#bioImage {
    max-width: 100%;    
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 64px 30px -30px rgba(196, 196, 196, 0.8);
    z-index: 1;
}

.aboutSubtitle {
    font-weight: 400;    
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.synergyBlock {
 margin-top: 56px;
 margin-bottom: 40px;
}

.abBlocks { margin-bottom: 40px;}

.biohero-xs {display: block; z-index: -1; }
.biohero-sm {display: none;}
.biohero-lg {display: none;}


.aboutText {font-size: 16px; font-weight: 300; max-width: 100%;}



/*----------------------------*/
/***** FOOTER SECTION *****/
/*----------------------------*/
/* Area - description */

.footerBlock { 
    /* height: 100px; */
    padding-left: 0;
    padding-top: 36px;
    background-color: #287094;
}

.footerBlock p {  color: #F6F6F6;}
.foot { margin-left: 0;}

#connect {
    /* margin-top: 5%;  */
    /* margin-left: 15px; */
    margin-bottom: 36px;
}

#connect p {color: #F6F6F6;}

.socialIcons {
    width: 10%; 
    padding-right: 15px;
}


/* ------------      Animation       ------------ */
.socialIcons:hover {filter: grayscale(0%);}


/* ////////////////////////////     Responsive       ///////////////////////////// */



/*-------------------------------*/
/***** MEDIA QUERY   556px   *****/
/*-------------------------------*/
@media screen and (min-width: 576px){

.sectionTitle { 
    font-weight: 900; 
    font-size: 40px;
    /* padding-left: 15px;
    padding-right: 15px; */
    /* Vertical spacing */
    padding-top: 70px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

    #bioImage { max-width: 140%; }
/* setting how the about illustration should display on sm screens */
.biohero-xs {display: none;}
.biohero-sm {display: block; 
    z-index: -1; 
    top: 0%; 
    position: absolute;
    left: -8%;
    width: 100%;
}
.biohero-lg {display: none;}
.aboutBackground {
    /* margin-top: 6%; */
}
.bioImageRow {
    margin-bottom: 40px;
}

} 
/* End of 576px media query */

/*-------------------------------*/
/***** MEDIA QUERY   768px   *****/
/*-------------------------------*/
@media screen and (min-width: 768px){
   
    .marginLeft-sm {padding-left: 30px;}
    .marginRight-sm {padding-right: 30px;}
    /***** General   *****/    
    p{font-size: 16px;}
    .navSpacer {width: 85%;}
    /***** Legacy Logo Styling   *****/ 
    /* styling logoblock - overriding the nav to fit my theme */
    .logoBlock {
        display: inline-block;
        z-index: 0 !important;
        margin-left: 0%;
        padding-left: 0%;
        width: 45%;
    } 

    /***** Hero   *****/    
    .jumbotron {
        margin-top: 50px;
        background-color: #F6F6F6;
    }

    #heroImage {width: 80%; height: auto;}
    .heroImageBlock {
        z-index: 1 !important;  
        background-color: transparent;
    }

    .heroBlock {
        z-index: 2;
        background-color: none;
        color: #023246;
        max-width: 450px;
        height: 60%;
        padding-top: 12%;
    }
   
    

    /***** My Process   *****/  
    .processRight {
    padding-left: 0%;
    }


    /***** Portfolio   *****/ 
    .portfolioSubtitleText {
        font-size: 19px;
        width: 90%;
    }
    /* styling portfolio title & subtitle text */
    .projectTitle {
        font-weight: 400;
        font-size: 22px;
    }
    .projectSubtitle {
        font-size: 16px;
    }


    /***** Tools section   *****/  
    .toolIconblock {min-width: 11.5%; max-width: 11.5%;}
    .toolsText {font-size: 22px;}


    /***** Quote Section   *****/ 
    .quoteSection{
        position: relative;
        /* width:100%;*/

    }


    /***** About   *****/   
    .aboutSubtitle {color: #287094;}
    .aboutText {font-size: 16px; max-width: 80%;}
    
    #bioImage {
        max-width: 120%;   
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 64px 30px -30px rgba(196, 196, 196, 0.8);
        z-index: 1;
    }

.aboutTextBackground {
    background-color: #F6F6F6;
    z-index: 0;
    top: 60%;
    width: 100%;
    height: 40%;
}

.socialIcons { filter: grayscale(100%);}
.aboutBackground p {color: black;}


    /***** Contact Form   *****/ 
    .sidebar-contact{
        width:100%;
        height:100%;
        left:-100%;
    }
    .sidebar-contact .toggle{
        top:50%;
        transform:translateY(-50%);
        transition:0.5s;
    }
    .sidebar-contact.active .toggle
    {
        top:0;
        right:0;
        transform:translateY(0);
    }
    .scroll{
        width:100%;
        height:100%;
        overflow-y:auto;
    }

}/* END Media Query */



/* ------------------------ Fade Animation ---------------------- */
    /***** Fade Animation   *****/ 
    [aos="fade"] {
        opacity: 0;
        transition-property: opacity;
      }
      
      [aos="fade"].aos-animate {
        opacity: 1;
      }

/*  */


      @media screen and (min-width: 992px){

        /* process padding adjustment */
        /* .processSection {    
            padding-left: 35px !important;
            padding-right: 35px !important;
        } */

        .biohero-xs {display: none;}
        .biohero-sm {display: none;}
        .biohero-lg {
            display: block; 
            z-index: -1; 
            top: 0%; 
            position: absolute;
            left: -22%;
            width: 100%;
        }
        #bioImage {width: 100%; max-width: 488px;}  
        /* set cover image size */
.cover img { max-width: 80%;}

/* #discover, #develop {    
    padding-left: 5px !important;
} */
        }








