
/*-----------------------*/
/***** GLOBAL STYLES *****/
/*-----------------------*/
.sectionTitle { 
    padding: 10% 0 5% 1%; 
    font-weight: 900; 
    font-size: 40px;
}
/* adjusting space for top of My Process Section sm devices*/
#myProcess {padding-top: 20%;}

.showcaseQuote {font-weight: 600; font-size: 48px;}
p { font-family: 'Lato', sans-serif; font-weight: 300; color: #757575;}
h1 {font-weight: 600; font-size: 48px;}  

h1, h2, h3 {font-family: 'Barlow Condensed', sans-serif;}
html {overflow-x: hidden;}
h2 {font-size: 36px;}
#connect p {font-weight: 400; color:#212529;}

/*----------------------------*/
/* Enable scroll function */
html {scroll-behavior: smooth;}  


/*-----------------------*/
/***** HERO SECTION  *****/
/*-----------------------*/
/* Buttons - overriding the button styles to fit my theme */
/*This is modifying the btn-primary colors */
.btn-primary{
    background-color: #f6f6f6 !important;
    border-color: #023246 !important;
    color: #023246 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #F6F6F6 !important;
    background-color: #287094 !important;
    border-color: #023246  !important; 
}

.btn {border-radius: 0px !important; }
.jumbotron {
    padding-top: 7rem !important;
    padding-bottom: 0 !important;
    background-color: #F6F6F6;}

/* Text - hero section styling */
#welcome {font-weight: 100;}
#heroTitle {font-family: 'Lato', sans-serif; font-weight: 600;}
#heroSubtitle { 
    font-weight: 100;
    color: #287094;
} 

.heroBlock {
    padding: 4% 2%;
    max-width: 80%;
    height: 60%;
}
.heroImageBlock {
    display: inline-block;
    background-color: #f6f6f6;
    padding-top: 4%;
    padding-bottom: 4%;
}
#heroImage {display:inline-block; width: 60%;}

/*----------------------------*/
/***** MY PROCESS SECTION *****/
/*----------------------------*/

/* illustrations - sizing illustrations so they can tile into a 2x2 for all screens */
.phase {
    max-width: 40%;
}

/* styling text in my process breakdown */
/* #e9ecef */
.phaseTitle {font-weight: 500; color: #023246; font-size: 16px;}
.phaseText {color: #023246; font-size: 14px;}

/* Alignment of of the process section blocks */
.processLeft {
    justify-content: center;
    
}

/* sizing process illustrations */
.phaseImage {max-width: 50%;}

/* set background color for Team work Text, right */
.processRight {
    background-color: none;
    padding-left: 8%;
    /* padding-top: 10%; */
    /* padding: 10%; */
}

/* Shortening teamwork textblock */
#teamworkText {max-width: 80%;}


/*----------------------------*/
/***** PORTFOLIO SECTION *****/
/*----------------------------*/
/* subtitle - style bar for Portfolio subtitle */
#bar {
    display: inline-block;
    background-color: #023246;
    width: 8px;
    height: 4rem;
    margin-right: 8px;
}

/* style portfolio subtitle Block and text within in */
.portfolioSubtitleBlock { margin-bottom: 40px; }
.portfolioSubtitleText {
    display: inline-block;
    font-weight: 300; 
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    width: 90%;
    color: #333333;
}

.projectSubtitle { color: #333333;}


/* set cover image size */
.cover img { max-width: 100%;}

/* giving some space between the portfolio entries */
.cover {
    padding-bottom: 2rem;
}
.projectChoiceBlock {
    /* breathing room for title and bottom of portfolio covers*/
    margin-top: 10%;
    margin-bottom: 4rem;
}

/* making the covers pop off the page with a drop shadow */
.cover img{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 64px 30px -30px rgba(196, 196, 196, 0.8);

}

/* styling portfolio title & subtitle text */
.projectTitle {
    font-weight: 500;
    font-size: 16px;
}
.projectSubtitle {
    font-weight: 300;
    font-size: 12px;
}


/*----------------------------*/
/***** TOOLS SECTION *****/
/*----------------------------*/
/* Icon color change - change color to black and white */
.toolIcon {filter: grayscale(100%);}
.toolIconblock {
    display: inline-block; 
    font-size: 12px; 
    width: 20%;
 
}
/* ------------      Animation       ------------ */
.toolIcon:hover {filter: grayscale(0%);}

/*----------------------------*/
/***** QUOTE SECTION      *****/
/*----------------------------*/
.quoteBlock { 
  /* background-color: #023246; */
  color: #F6F6F6;
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  
}
.quoteSection {
    height:40%;
    background: url("/images/about-background.jpg") no-repeat center center fixed;
    background-size:cover;
    z-index: 0;
    text-align: center;
    margin-bottom: 10%;
}

/*----------------------------*/
/***** ABOUT ME SECTION   *****/
/*----------------------------*/
/* .aboutBackground p {color: black;} */

.aboutBackground {
    position: relative;
    z-index: 0;
    padding-bottom: 10%;
}
/* .aboutOverlay {
    position: absolute;
    background-color: #F6F6F6;
    opacity: 0.7;
    z-index: -1;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60%;
} */
/* .smoke {
    background: url("https://giphy.com/gifs/TJb0yO9rhndYF3RJKi/html5");
    bottom: 0;
} */
/* Area - description */
#bioImage {width: 97%; margin-bottom: 1rem;}
.aboutSubtitle {
    font-weight: 400;    
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.synergyBlock {
    padding-top: 15%;
    padding-bottom: 15%;
}

.biohero-xs {display: block; z-index: -1; }
.biohero-md {display: none;}
.biohero-lg {display: none;}


.aboutText {font-size: 16px; font-weight: 300; max-width: 100%;}
.aboutIllustration {width: 50%;}

#connect {
    margin-top: 5%; 
}
#connect p {color: #757575;}

.socialIcons img {width: 30px}
.socialBlock a {padding-right: 16px;}
/* ------------      Animation       ------------ */
.socialIcons:hover {filter: grayscale(0%);}


/*----------------------------*/
/***** FOOTER SECTION *****/
/*----------------------------*/
/* Area - description */
.footerBlock { 
    height: 100px;
    padding-top: 24px;
    padding-left: 0;
    background-color: #023246;
}

.footerBlock p { color: #F6F6F6;}

.foot { margin-left: 0;}



/* ------------      OLD Animation       ------------ */

/* animate the hero text on hover */
/* .figure:hover {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
        background-image: rgba(196, 196, 196, 0.9);
        box-shadow: 0px 10px 10px 0px rgba(196, 196, 196, 0.4);
        transition: .5s ease-in-out;
} */

/* ////////////////////////////     Responsive       ///////////////////////////// */

/*-------------------------------*/
/***** MEDIA QUERY   768px   *****/
/*-------------------------------*/
/* setting the block for hero text to show on only on screens larger than small */


@media screen and (min-width: 768px){
   
    /***** General   *****/    
    p{font-size: 16px;}
    .navSpacer {width: 85%;}
    /***** Legacy Logo Styling   *****/ 
    /* styling logoblock - overriding the nav to fit my theme */
    .logoBlock {
        display: inline-block;
        z-index: 0 !important;
        /* background-color: #023246 !important; */
        margin-top: -2%;
        margin-bottom: 0%;
        margin-left: -1%;
        padding-left: 1%;
        padding-bottom: 10%;
        width: 45%;
    } 

    /***** Hero   *****/    
    .jumbotron {
        padding-top: 0 !important;
        margin-top: 0 !important;
        background-color: #F6F6F6;}

        #heroImage {width: 80%; height: auto;}
    .heroImageBlock {
        z-index: 1 !important;  
        background-color: transparent;
        /* setting top and bottom padding for md screen size */
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .heroBlock {
        z-index: 2;
        background-color: none;
        color: #023246;
        /* padding: 4% 2%; */
        padding-top: 4%;
        padding-right: 0%;
        padding-bottom: 4%;
        padding-left: 4%;
        max-width: 450px;
        height: 60%;
    }
    

    /***** My Process   *****/  
    /* adjusting space for top of section*/
    #myProcess {padding-top: 5%;}
    /* set background color for Team work Text, right */
    .processRight {
    padding-left: 0%;
    }
    #teamworkText {
    max-width: 80%;
    }

    /***** Portfolio   *****/ 
    .portfolioSubtitleText {
        font-size: 19px;
    }
    /* styling portfolio title & subtitle text */
    .projectTitle {
        font-weight: 400;
        font-size: 22px;
    }
    .projectSubtitle {
        font-size: 16px;
    }


    /***** Tools section   *****/  
    .toolIconblock {min-width: 11.5%; max-width: 11.5%;}

    /***** Quote Section   *****/ 
    .quoteSection{
        position: relative;
        /* width:100%;*/

    }


    /***** About   *****/   
    .aboutBackground {
        margin-top: 16%;
    }
    .bioImageRow {
        margin-bottom: 5%;
    }
    
    .aboutSubtitle {
        color: #287094;
    }
    .aboutText {font-size: 16px; max-width: 80%;}
    #bioImage {
        max-width: 100%;    
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 64px 30px -30px rgba(196, 196, 196, 0.8);
        z-index: 1;
    }


    #synergyColumn {
        position: relative;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .biohero-xs {display: none;}
    .biohero-md {display: block; 
        z-index: -1; 
        top: -48%; 
        position: absolute;
        left: -40%;
        width: 100%;
    }
    .biohero-lg {display: none;}
   

.aboutTextBackground {
    background-color: #F6F6F6;
    z-index: 0;
    top: 60%;
    width: 100%;
    height: 40%;
}

.socialIcons {
    filter: grayscale(100%);
    /* filter: contrast(10%); */
}
    .aboutBackground p {color: black;}
    .aboutBackground { padding-bottom: 3%;}
    /* .aboutOverlay {
        top: 70%;
        width: 100%;
        height: 30%;
    } */


    /***** Contact Form   *****/ 
    .sidebar-contact{
        width:100%;
        height:100%;
        left:-100%;
    }
    .sidebar-contact .toggle{
        top:50%;
        transform:translateY(-50%);
        transition:0.5s;
    }
    .sidebar-contact.active .toggle
    {
        top:0;
        right:0;
        transform:translateY(0);
    }
    .scroll{
        width:100%;
        height:100%;
        overflow-y:auto;
    }
    .content{
        padding:50px 50px;
    }
}/* END Media Query */




    /***** Fade Animation   *****/ 
    [aos="fade"] {
        opacity: 0;
        transition-property: opacity;
      }
      
      [aos="fade"].aos-animate {
        opacity: 1;
      }


      @media screen and (min-width: 992px){
        .biohero-xs {display: none;}
        .biohero-md {display: none;}
        .biohero-lg {
            display: block; 
            z-index: -1; 
            top: -48%; 
            position: absolute;
            left: -40%;
            width: 100%;
        }
        }








