
/* ||||||||- GLOBAL STYLES - |||||||||| */
.sectionTitle { padding: 2rem 0rem 1rem 1.25rem; }
.showcaseQuote {font-weight: 600; font-size: 48px;}
p { font-family: 'Lato', sans-serif; font-weight: 300;}
h1 {
    font-weight: 600;    
    font-size: 48px;
 }  
 h1, h2, h3 {font-family: 'Barlow Condensed', sans-serif;}
 

/************ Navigation ***************************************************************** */

/************ HERO ***************************************************************** */
/* Buttons - overriding the button styles to fit my theme */
.btn-primary{
    background-color: #f6f6f6 !important;
    border-color: #023246 !important;
    color: #023246 !important;
}
.btn {border-radius: 2px !important; }
.jumbotron {
    padding-top: 7rem !important;
    background-color: #FFFFFF;}

/* Text - hero section styling */
#heroTitle {font-family: 'Lato', sans-serif; font-weight: 500;}
#heroSubtitle { 
    font-weight: 100;
    color: #023246;
} 

.heroBlock {
    padding: 4% 2%;
    max-width: 80%;
    height: 60%;
}

/************ MY PROCESS ********************************************************** */


/* illustrations - sizing illustrations so they can tile into a 2x2 for all screens */
.phase {
    max-width: 40%;
}

/* styling text in my process breakdown */
/* #e9ecef */
.phaseTitle {font-weight: 500; color: #023246; font-size: 16px;}
.phaseText {color: #023246; font-size: 14px;}

/* Alignment of of the process section blocks */
.processLeft {
    justify-content: center;
    
}

/* sizing process illustrations */
.phaseImage {max-width: 50%;}

/* set background color for Team work Text, right */
.processRight {
    background-color: none;
    /* padding-top: 12%;*/
    padding: 10%;
}

/* Shortening teamwork textblock */
#teamworkText {max-width: 80%;}

/************ PORTFOLIO ********************************************************** */
/* subtitle - style bar for Portfolio subtitle */
#bar {
    display: inline-block;
    background-color: #023246;
    width: 8px;
    height: 4rem;
    margin-right: 8px;
}

/* style portfolio subtitle Block and text within in */
.portfolioSubtitleBlock { margin-bottom: 40px; }
.portfolioSubtitleText {
    display: inline-block;
    font-weight: 300; 
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    width: 90%;
}



/* set cover image size */
.cover img { max-width: 100%;}

/* giving some space between the portfolio entries */
.cover {
    padding-bottom: 2rem;
}
.projectChoiceBlock {
    margin-bottom: 4rem;
}

/* making the covers pop off the page with a drop shadow */
.cover img {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 64px 30px -30px rgba(196, 196, 196, 0.8);

}

/* styling portfolio title & subtitle text */
.projectTitle {
    font-weight: 500;
    font-size: 16px;
}
.projectSubtitle {
    font-weight: 300;
    font-size: 12px;
}




/************ ABOUT ME ********************************************************** */
/* Area - description */
#bioImage {width: 100%; margin-bottom: 1rem;}
.aboutSubtitle {
    font-weight: 400;    
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.aboutText {font-size: 14px; font-weight: 300;}
.aboutIllustration {width: 50%;}

/* aligning connnect/showcaseQuote Block with images */
#connect {margin: 40px auto;}



/************ CONTACT ********************************************************** */
/* background - change background to #023246 */
.contact {
    background-color: #287094;
    margin-top: 40px;
    padding-bottom: 40px;
}

.contact .sectionTitle {color: #F6F6F6;}
.formLabel {color: #F6F6F6; font-weight: 100; opacity: 0.6;}

/* dimming the background area of the contact form 80% opacity */
textarea, input {
    background-color: rgba(246, 246, 246, 0.8) !important;
}

/************ FOOTER ********************************************************** */
/* Area - description */
.footer { 
    height: 100px;
    padding-top: 24px;
}




/* ---------------------------      Animation       ------------------------------ */

/* animate the hero text on hover */
.cover img:hover
{
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
        box-shadow: 0px 10px 10px 0px rgba(196, 196, 196, 0.4);
        transition: .5s ease-in-out;
}

/* ////////////////////////////     Responsive       ///////////////////////////// */


/* @media screen and (min-width: 500px){
    .heroImageBlock {
        z-index: 1 !important;
        position: absolute;
        right: 0;
        background-color: #F0F0F0;
        padding-top: 10%;
        margin-left: -12%;
        margin-top: -4%;
        padding-left: 16%;
        padding-right: 2%;
        padding-bottom: 15%;
        justify-content: center;
        max-width:67%;
        height: auto;
    }

    .heroBlock {
        z-index: 2;
        background-color: #F6F6F6;
        margin-left: 0%;
        color: #023246;
        padding: 4% 2%;
        max-width: 60%;
        height: 60%;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        /* box-shadow: 0px 64px 30px -30px rgba(196, 196, 196, 0.8);
    }
}
  */
  #heroImage {width: 100%;}
  .heroImageBlock {padding-top: 10%;}

/* setting the block for hero text to show on only on screens larger than small */
@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 0 !important;
        margin-top: 0 !important;
        background-color: #FFFFFF;}
    /* styling logoblock - overriding the nav to fit my theme */
    .logoBlock {
        display: inline-block;
        z-index: 0 !important;
        background-color: #023246 !important;
        margin-top: -2%;
        margin-bottom: -1%;
        margin-left: -1%;
        padding-left: 1%;
        padding-bottom: 14%;
        width: 45%;
    } 
    .heroImageBlock {
        z-index: 1 !important;
        position: absolute;
        right: 0;
        background-color: #F0F0F0;    
        margin-left: -12%;
        margin-top: -4%;
        padding-left: 20%;
        padding-right: 10%;
        padding-bottom: 20%;
        justify-content: center;
        max-width:67%;
        height:55%;
    }

    .heroBlock {
        z-index: 2;
        background-color: #F6F6F6;
        margin-left: -24px;
        color: #023246;
        padding: 4% 2%;
        max-width: 46%;
        height: 60%;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        /* box-shadow: 0px 64px 30px -30px rgba(196, 196, 196, 0.8); */
            /* top left highlight */
    /* box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83); */
    /* bottom right shadow */
    /* box-shadow: 6px 6px 16px 0 rgba(196, 196, 196, 0.51); */
    }
    .heroText {padding-right: 10%;}

    .portfolioSubtitleText {
        font-size: 19px;
    }
    .cover {
        padding-bottom: 5rem;
    }
    /* styling portfolio title & subtitle text */
    .projectTitle {
        font-size: 18px;
    }
    .projectSubtitle {
        font-size: 14px;
    }

    /* aligning cover text for travel app - staggered */
    .projectChoiceBlock {margin-top: 10%;}

    /* aligning connnect/showcaseQuote Block with images */
    #connect {margin-top: 20px;}

    /* END Media Query */
    }













