

/* navbar toggler */

.navbar-toggler {
    color: rgba(2, 50, 70, 1);
    border-color: rgba(2,50,70,.1);
}

/* Set navbar text weight to thin when not active */
.navbar {
    font-weight: 300;
}


#logo {width: 50%;}

@media screen and (min-width: 768px){


    nav a img {width: 75%;}
    /* stroke effect setup*/
    .stroke a,
    .stroke a:after,
    .stroke a:before {
    transition: all .5s;
    }
    .stroke a:hover {
    color: #023246;
    /* font-weight: 400; */

    }
    /* stroke effect */
    .stroke a{
    position: relative;
    }
    .stroke a:after{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #023246;
    height: 2px;
    }
    .stroke a:hover:after {
    width: 82%;
    }
}
