

/* navbar toggler */

.navbar-toggler {
    color: #287094;
    /* rgba(2, 50, 70, 1); */
    border-color: rgba(2,50,70,.1);
}

/* Set navbar text weight to thin when not active */
.navbar {
    font-weight: 300;
}


#logo {width: 50%;}


/*-------------------------------*/
/***** MEDIA QUERY   768px   *****/
/*-------------------------------*/
@media screen and (min-width: 768px){


    nav a img {width: 75%;}
    /* stroke effect setup*/

    /* for scrolling */
     /* stroke effect setup*/
     .scroller a,
     .scroller a:after,
     .scroller a:before {
     transition: all .5s;
     }
     .scroller a:hover {
     color: #F6F6F6;
     /* font-weight: 400; */
 
     }
     /* stroke effect */
     .scroller a{
     position: relative;
     }
     .scroller a:after{
     position: absolute;
     bottom: 0px;
     left: 0;
     right: 0;
     margin: auto;
     width: 0%;
     content: '.';
     color: transparent;
     background: #38C1F9;
     height: 2px;
     }
     .scroller a:hover:after {
     width: 82%;
     }


     .stroke .active { width: 100%;}

    .stroke a,
    .stroke a:after,
    .stroke a:before {
    transition: all .5s;
    }
    .stroke a:hover {
    color: #023246;
    /* color: #287094; */
    /* font-weight: 400; */

    }
    /* stroke effect */
    .stroke a{
    position: relative;
    }
    .stroke a:after{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #38C1F9;
    height: 2px;
    }
    .stroke a:hover:after {
    width: 82%;
    }


}
