

/*-----------------------*/
/***** HERO SECTION  *****/
/*-----------------------*/
    .wrcHero {
        height: 460px;
        background: url("../images/wrcHero.jpg") no-repeat center center fixed;
        background-size:cover;
        z-index: 0;
        margin-bottom: 70px; 
    }

    .wrcHeroText {
        background-color:  rgba(255, 255, 255, 0.6);
        /* border-radius: 0px 196px 196px 0px; */
        width: auto;
        margin-top: 50px;
        /* left: -1px; */
        padding: 24px 16px 24px 16px;
        text-align: left;
    }
    /* logo placement for mobile */
    .case-one {
        text-align: center;

    }

    .wrc-logo img { 
        width: 75%; 
        margin-top: 20px;
        }

    /*---------------------------*/
    /***** DISCOVERY SECTION *****/
    /*---------------------------*/
    
    /* set width of info in columns to a standard width */
    .width-sm {
        max-width: 300px;
    }
    /* Entire Discovery Section - set top margin*/
    .discoverySection1A {
        margin-top: 140px;
        padding-bottom: 20px;
    }

    /* .discoverySectionB {
        padding-top: 70px;
    } */

    /* main phase heading number */
    h1.phaseNumber {
        color: #287094;
        font-weight: 500;
        font-size: 20px;
        padding-left: 15px;
    }

    /* main phase heading type */
    h2.phaseType {
        color: #000000;
        font-weight: 600;
        font-size: 24px;
        padding-left: 15px;
    }

    /* spacing phase icon from text */
    .phaseIcon img {
        width: 60%;
        padding-left: 20px;
    }

    /* style secondary headings */
   .lightHeadings {
        color: #505050;
        font-weight: 500;
        font-size: 16px;
    }

    /* style primary headings - main points */
    h3.darkHeadings {
        color: #287094;
        font-weight: 500;
        font-size: 20px;
    }



    .leftSideLeft ul, .leftSideRight ul{min-width: 164.25px;}
    .blurbs { color: #757575; max-width: 300px; font-size: 14px;}

.personaPicA {
    display: inline-block;
}
.personaPicB {
    display: inline-block;
    padding-right: 0px;
}

    /*----------------------------*/
    /***** DEFINITION SECTION *****/
    /*----------------------------*/
    /* Entire Definition Section - set top margin*/
    .definitionSectionA {
        margin-top: 70px;
        padding-bottom: 20px;
    }
     /* list items color and font size for hierarchy */
    .listItems {
        font-size: 14px;
        color: #757575;
    }

    /* list items padding to fix lack of indentation */
    .definitionSectionB ul {
        padding-left: 14px;
        max-width: 300px;
    }

    .blurbBackdrop {
        background-color: #F4F4F6;
        border-radius: 8px;
        padding: 20px;
        display: inline-block;
    }


    .definitionSectionC img {
        width: 35%;
        margin-bottom: 20px;
    }

    /* section findings and research */
    .definitionSectionC p { 
        font-size: 14px;
        color: #757575;
        max-width: 300px;
    }

/* Research Sub Heading spacing */
.researchSubHead {
    margin-top: 40px;
    margin-bottom: 20px;
}

.sect-top {margin-top:70px}
.insect-top {margin-top: 48px;}
.artifact {width: 100%;}
.artifact-userflow {width: 50%;}
@media screen and (min-width: 576px){

    /*-----------------------*/
    .wrcHero {
        height: 653px;
        background: url("../images/wrcHero.jpg") no-repeat center center fixed;
        background-size:cover;
        z-index: 0;
    }

    .wrcHeroText {
        background-color:  rgba(255, 255, 255, 0.6);
        border-radius: 0px 196px 196px 0px;
        width: 548px;
        margin-top: 226px;
        left: -1px;
        padding: 24px 100px 24px 48px;
        text-align: left;
    }

    /* Discovery Section */

    .discoverySection1 {
        margin-top: 140px;
    }
   
    .pad-sm {
    padding-left: 0px;
    padding-right: 0px;
    }


}

@media screen and (min-width: 786px){
/* Discovery Section */
    .discoverySection1 {
        margin-top: 48px;
    }

    .pad-lg {
    padding-left: 0px;
    padding-right: 0px;
    }

}