
/*-----------------------*/
/***** GLOBAL STYLES *****/
/*-----------------------*/
/* for lightbox modal */
.modal-content {
    background-color: rgba(196, 196, 196, 0);
    border: none;    
}
.modal-header {border-bottom: rgba(196, 196, 196, 0);}
.close {color: #FFFFFF;}
.modal-title { color: #FFFFFF;}



.container-mywidth {
    max-width: 1080px !important;
}
.container-nav {max-width: 1249px !important;;}
.container-hero { max-width: 1280px !important;}
html, body {overflow-x: hidden;}
body{
    /* padding-top:0px !important;
    margin-top: 0px !important; */
 }

/* initializing font sizes */
h1 {font-weight: 600; font-size: 48px;}  
h2 {font-size: 36px;}
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    /* padding: 0;
    margin: 0; */
}

.light-text {color: #F6F6F6 !important;}
.prototype-font-color {color: #F6F6F6 !important;}
.prototype-font-color li {color: #F6F6F6 !important;}
.charcoal-text {color: #333333;}
.blue-text {color: #287094 !important;}
.shade-text {color: #023246 !important;}
/* COLORS */
/* 

Black - #023246
*/

p { 
    font-family: 'Lato', sans-serif; 
    font-weight: 300; 
    color: #757575; 
    font-size: 16px;
    padding: 0px;
}

.sectionTitle { 
    font-weight: 900; 
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    color: #023246;
}

.mysection-bottom-margin { margin-bottom: 16px !important;}
/* setting a global class for column width */
.mycolumn-width {  
    width: 100%;
    max-width: 420px;
}

/*----------------------------*/
/* Enable scroll function */
html {scroll-behavior: smooth;}  

/* General Button Styling */
.btn-primary{
    background-color: #023246 !important;
    border-color: #023246 !important;
    color: #FAFAFA !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #FAFAFA !important;
    background-color: #045B7F !important;
    border-color: #045B7F !important; 
}

.btn {border-radius: 0px !important; }

/* Portfolio section buttons */
.portfolioButton {
    background-color: #FAFAFA !important;
    border-color: #FAFAFA !important;
    color: #023246 !important;
    font-size: 16px;
}
.portfolioButton:hover, .portfolioButton:focus, .portfolioButton:active, .portfolioButton.active {
    color: #FAFAFA!important;
    background-color: #045B7F !important;
    border-color: #045B7F  !important; 
}

.mysection-top-pad {padding-top: 40px;}

/*-----------------------*/
/***** HERO SECTION  *****/
/*-----------------------*/
.jumbotron {
    margin-bottom: 0px !important;
    /* padding-top: 80px !important; */
    background-color: #FFFFFF;
    top: 0 !important;
}

#heroTitle {
    font-family: 'Lato', sans-serif; 
    font-weight: 600;
    font-size: 42px;
    color: rgba(2, 50, 70, .9) !important;
}
#heroSubtitle { 
    font-weight: 300;
    font-size: 24px;
    color: #023246 !important;
} 

/* set up the shadow for the hero block */
.heroBlock {       
    /* margin-top: 0px;
    padding-top: 0px; */

    /* background-image: url('../images/wrc-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  */
     /* offset-x | offset-y | blur-radius | spread-radius | color */
     box-shadow: 0px 44px 20px -30px rgba(196, 196, 196, 0.6);
}
.hero-text-underlay {
    width: 100%;
    height: 400px;
    padding-top: 0%;
}

.myleft-side {
    width: 100%;
    height: 400px;
    /* background-color: #287094; */
    background: url("/images/case-TA-hero2.jpg") center center no-repeat;
}

.myright-side {
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
}

#hero-pic{
   width: 100%;
   max-width: 640px;
   height: 100%;
   max-height: 425px;
   text-align: center;
}

/* setting button to not stretch */
.hero-button {
    padding: 10px;
    height: 44px !important;
    font-size: 14px;
}

#heroText { 
    /* color: #F6F6F6; 
    width: 330px; */
    font-weight: 300; 
    font-size: 16px;
    color: #E6E6E6;
    /* width: 350px; */
}


/*-------------------------------*/
/***** DISCOVERY   *****/
/*-------------------------------*/
/* main phase heading number */
h1.phaseNumber {
    color: #023246;
    font-weight: 500;
    font-size: 20px;
}

/* main phase heading type */
h2.phaseType {
    color: #023246;
    font-weight: 900;
    font-size: 24px;
    max-width: 240px;
}

/* spacing phase icon from text */
.phaseIcon img {
    width: 100px;
}
.phaseIcon {padding-left: 0px;}
.sectionTitle { 
    padding-top: 60px;
    padding-bottom: 56px;
    margin-bottom: 0px;
}
h3.darkHeadings {
    color: #023246;
    font-weight: 500;
    font-size: 22px;
}
.lightHeadings {
    color: #505050;
    font-weight: 500;
    font-size: 16px;
}
/* area subtext*/
.listItems ul li,
.listItems ol li {
    font-family: 'Lato', sans-serif; 
    color: #757575;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    font-weight: 300;
}

/* vertical spacing between text areas within a section */
.insect-top {padding-top: 40px;}

/* vertical spacing for top part of each section */
.sect-top {padding-top:44px}

/* Top padding for the first section */
.sect-top-first {padding-top: 70px;}

/* sizing persona images */
.persona img { width: 100%; max-width: 424px;}
.persona-TA img { width: 100%; max-width: 640px;}

.area-persona {
    max-width: 992px;
    padding-top: 60px;
}
/* setting top padding of the research data */
.research-data {
    padding-top: 34px;
}


.shadow {
background-color: #FAFAFA;
border-color: #FAFAFA;
border-style: solid;
/* offset-x | offset-y | blur-radius | spread-radius | color */
box-shadow: 0px 44px 20px -30px rgba(196, 196, 196, 0.6);
}
.data-block {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;   
    /* border-color: #EEE; */
    /* border-style: solid;  */
    border-width: 2px; 
}
.data-title {
    font-weight: 400;    
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #757575;
}
/* titles within artifacts i.e. competitive analysis */
.data-title2 {
    font-weight: 300;    
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.data-text {
    font-size: 16px;
    font-weight: 300;
}

/* sizing artifacts properly */
.artifact {
width: 420px;
}

/* bringing left column text closer to right column image */
.left-text  {
    padding-left: 20%;
}

/* background color for artifacts */
.artifact-background {
    background-color: #F6F6F6;
}
/* affinity diagram spacing */
.affinity-spacing {
    padding-bottom: 16px;
}
/* persona spacing */
.persona-spacing {
    padding-bottom: 16px;
}

/* Competitive Analysis */
.competitive-data { 
    background-color: #FFF;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 451px; 
}
.competition-block {
    padding-top: 20px;
}
.competition-block img {
    width: 110px;
}
.show-only-lg {
    display: none !important;
}

/* ////////////////////////////     Responsive       ///////////////////////////// */

/*-------------------------------*/
/***** DEFINE   *****/
/*-------------------------------*/

#matrix-border {
    /* border-style: dashed;
    border-width: 1px;
    border-color: #287094; */
    background-color: #FFF;
    padding: 16px 10px 25px;
    border-radius: 4px;
}

/* competitive analysis title TESTING*/
.comp-title {max-height: 80px;}


.footerBlock { 
    /* height: 100px; */
    /* padding-left: 0; */
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F6F6F6;
}

.footerBlock p {  color: #023246;}
.foot { 
    padding-left: 20px !important;
    padding-right: 20px !important;
    max-width: 1080px;
}


#connect p {color: #023246;}

.socialIcons {
    width: 10%; 
    padding-right: 15px;
}

/* STORYBOARD / JOURNEY MAP / SCENARIO */
.story-width {max-width: 960px;}
#story-1 {
    max-width: 80%;
}
#story-2 {
    max-width: 80%;
}
#story-3 {
    max-width: 80%;
}
.carousel-indicators .active {
    background-color: #023246;
}
.carousel-indicators li {
    background-color: rgba(2, 50, 70, .6) !important;
    /* box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);       */
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23757575' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23757575' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
/* .story-carousel {
    margin-left: 50%;
    margin-right: 50%;
} */

/*-----------------------------------*/
/***** User Flow and Task Flow   *****/
/*-----------------------------------*/
#carousel2 {
    /* margin-bottom: 35% !important; */
}

/*-----------------------------*/
/***** MID-FI SECTION      *****/
/*-----------------------------*/
.mid-fi-block { 
    height:400px;
  }
  .mid-fi-section {
      height:80%vh;
      width: 100%vw;
      background: url("../images/case-TA-midfi-small.jpg") no-repeat center center;
      background-size:cover;
      z-index: 0;
      text-align: center;
  }
  /* .mid-fi img {
      width: 100%;
      max-width: 280px;
  } */
/*-------------------------------------*/
/***** Prototype Video Section     *****/
/*-------------------------------------*/
.prototype-bgnd-inner{
    height: 600px;
}
  .prototype-bgnd-outer {

    /* background-color: #287094; */
    background-image: url("../images/background-bluegradient@2x.jpg");
    background-size:cover;
    z-index: 0;
} 
/* --------------------------- */
/* -------- ANIMATION -------- */
/* --------------------------- */


/*-------------------------------*/
/***** MEDIA QUERY   576px   *****/
/*-------------------------------*/
@media screen and (min-width: 576px){

    .heroBlock {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* HERO STYLING ///////////////////////////////////////////////*/
    .myleft-side {
    }

    .myright-side {
        /* max-width: 485px; */
    }

    /* main phase heading type */
    h2.phaseType {
    font-size: 36px;
    }

   
    
} 
/* End of 576px media query */

/*-------------------------------*/
/***** MEDIA QUERY   768px   *****/
/*-------------------------------*/
@media screen and (min-width: 768px){
  
    /***** Hero   *****/    
    .jumbotron {
        padding-top: 0px;
    }
    /* HERO STYLING */
    .myleft-side {
        /* height: 400px;  */
    }
    .myright-side {
        /* padding-top: 0px;
        padding-bottom: 0px; */
        /* max-width: 485px; */
    }
    
    .navSpacer {width: 85%;}
    /***** Legacy Logo Styling   *****/ 
    /* styling logoblock - overriding the nav to fit my theme */
    .logoBlock {
        display: inline-block;
        z-index: 0 !important;
        margin-left: 0%;
        padding-left: 0%;
        width: 45%;
    } 
    /***** My Process   *****/  

    /***** Portfolio   *****/ 

    /***** Quote Section   *****/ 
  
    /***** About   *****/   
  
    /***** Contact Form   *****/ 

}/* END Media Query */



/* ------------------------ Fade Animation ---------------------- */
    /***** Fade Animation   *****/ 
    [aos="fade"] {
        opacity: 0;
        transition-property: opacity;
      }
      
      [aos="fade"].aos-animate {
        opacity: 1;
      }


      @media screen and (min-width: 992px){
            /* sizing artifacts properly */
            .artifact {
            width: 451px;
            }

            .show-only-lg {
                display: block !important;
            }
            /* adjusting bottom padding for competitive analysis block */
            .competitive-data { 
                padding-top: 60px;
                padding-bottom: 50px;
                width: 451px; 
            }
            #matrix-border {
                padding: 45px 10px 25px;
            }
            /* setting prototype mid-fi background - note mobile and tablet don't support fixed */
            .mid-fi-section {
                height:80%vh;
                width: 100%vw;
                background: url("../images/case-TA-midfi@2x.jpg") no-repeat center center fixed;
                background-size:cover;
                z-index: 0;
                text-align: center;
            }
        }








